pandas==1.4.2
numpy==1.22.4
seaborn
jupyter
molmass
chembl_webresource_client
SQLAlchemy
psycopg2==2.9.4
# psycopg2-binary
rdkit==2023.3.2
tqdm==4.64.1
pubchempy==1.0.4
pyteomics
pyarrow
# 2.15
prefect==2.15.0
griffe==0.28.2
pydantic<2
StrEnum==0.4.10
requests==2.28.1
joblib==1.2.0

PuLP==2.7.0
networkx==3.1
matplotlib==3.5.2
SPARQLWrapper==2.0.0
black[d]
rustworkx

dash


git+https://github.com/chembl/ChEMBL_Structure_Pipeline.git